@model DoctorScheduleRuleViewModel
<div class="form-group mb-5">
    <label class="col-form-label" asp-for="Doctor">Doctor Name</label>
    <input readonly asp-for="Doctor.FullName" class="form-control" />
</div>
<div class="form-group mb-5">
    <label asp-for="DayOfWeek" class="form-label"></label>

    <input readonly asp-for="DayOfWeek" class="form-control" />
</div>


<div class="form-group mb-5">
    <label asp-for="StartTime" class="form-label"></label>
    <input readonly asp-for="StartTime"
           type="time"
           class="form-control"
           step="60" />
</div>

<div class="form-group mb-5">
    <label asp-for="EndTime" class="form-label"></label>
    <input readonly asp-for="EndTime"
           type="time"
           class="form-control"
           step="60" />
</div>
<div class="form-check mb-4">
    <input asp-for="IsOff" class="form-check-input" disabled />
    <label asp-for="IsOff" class="form-check-label"></label>
</div>


<div hidden class="form-group">

    <label class="col-form-label" asp-for="DoctorId"></label>
    <input asp-for="DoctorId" class="form-control" readonly />
</div>

