@model PatientViewModel
<div class="form-group mb-5">
    <label asp-for="FullName" class="form-label"></label>
    <input asp-for="FullName" class="form-control" />
    <span asp-validation-for="FullName" class="text-danger"></span>
</div>
<div class="form-group mb-5">
    <label asp-for="Gender" class="form-label"></label>

    <select asp-for="Gender" class="form-control">
        <option value="">-- Select Gender --</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <span asp-validation-for="Gender" class="text-danger"></span>
</div>

<div class="form-group mb-5">
    <label asp-for="BirthDate" class="form-label"></label>
    <input max="@DateOnly.FromDateTime(DateTime.Today).ToString("yyyy-MM-dd")" asp-for="BirthDate" class="form-control" />
    <span asp-validation-for="BirthDate" class="text-danger"></span>
</div>
<div class="form-group mb-5">
    <label asp-for="Phone" class="form-label"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>
