@model DoctorScheduleRuleViewModel
@{
    ViewData["Title"] = "Doctor Schedule Rule Details";
}

<h1>Doctor Schedule Rule Details</h1>

<br />
<br />

<div>
    <partial name="PartialViews/DetailsDeleteDoctorScheduleRulePartial"></partial>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Update</a> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</div>

