@model Clinic
@{
    ViewData["Title"] = "Delete Clinic";
}

<h1>Are You Sure to Delete This Clinic</h1>

<br />
<br />

<form asp-action="Delete">
    <div class="form-group mb-5">
        <label asp-for="Name" class="form-label"></label>
        <input readonly asp-for="Name" class="form-control" />
    </div>

    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>
